body {
    text-align: center;
    margin: 0 auto;
    background-image: url(./Ass1_Asset/Images/—Pngtree—website\ technology\ line\ dark\ background_2443641.png);
    background-position: center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.details {
    padding: 50px;
    color: white;
    text-wrap: wrap;

}

a {
    display: grid;
    margin: 0 auto;
    color: white;
    width: 30%;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    border: 2px solid rgb(255, 12, 12);
    border-radius: 5px;
}