body{
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    a {
        display: block; /* Make links stack vertically */
        width: 90%; /* Make links smaller to avoid overlapping */
        margin: 10px auto; /* Center the links and add spacing */
    }
}

.image{
    position: relative;
    width: 100%;
    height: 100vh;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.details {
    position: absolute;
    top: 50px;
    width: 100%;
    color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    background-color:black;
    border: 2px solid rgb(255, 12, 12);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: white;
}