body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
}

input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 400px;
    border: 1px solid gray;
}

a{
    font-weight: bold;
    color:royalblue;
    text-decoration: none;
}

submit{
    display: block;
    color: white;
    background-color: royalblue;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

img{
    display: block;
    min-width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    
}

header{
    float: right;
}

footer, h1{
    text-align: center;
}

@media screen and (max-width:700px) {
    div1{
        display: none;
    }

    body{
        display: grid none;
    }

    div2{
        padding: 50px;
        font-size: x-large;
    }
}

@media screen and (max-width:480px) {
    div1{
        display: none;
    }

    body{
        display: grid none;
    }

    div2{
        padding: 50px;
        font-size: xx-large;
    }
}

